body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

.header button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.header button:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 20px;
}

form, table {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    flex-basis: 100%;
}

input, select, button {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.icon {
    cursor: pointer;
    font-weight: bold;
}

.icon-ingreso {
    color: green;
}

.icon-egreso {
    color: red;
}
#totals {
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Esto hará que el elemento sea fijo */
    bottom: 20px; /* Colocará el elemento en la parte inferior de la pantalla */
    background-color: white; /* Fondo blanco */
    z-index: 1000; /* Para asegurarse de que esté sobre otros elementos */
}


#totals p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
